<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h1>Über uns</h1>
	<h3>Mit Spaß und Spiel mit den Kindern ans Ziel</h3>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
         <img src="{{ with .Site.Params.wrapper2.image }} {{ . | absURL }} {{ end }}" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h3>{{ .Site.Params.wrapper2.title }}</h3>
          </div>
          <p>{{ .Site.Params.wrapper2.paragraph }}</p>
          <p>{{ .Site.Params.wrapper2.paragraph2 }}</p>
        </div>
      </div><!-- .col-md-7 close -->
    </div>
  </div>
</section>
